@media (min-width: 1000px){
    #inp_city{
        width: 400px;
    }
    .hourly-forecast-table{
        font-size: 30px;
    }
    .hourly-forecast-table thead th{
        padding: 10px
    }
    .th-time{
        font-size: 26px;
    }
    .table-img{
        width: 100px;
        height: 100px;
    }
    .forecasts-blocks{
        border-right: 1px solid rgb(69, 83, 82);
    }
}
@media (min-width: 700px) and (max-width: 1000px) {
    #inp_city{
        width: 300px;
    }
    .hourly-forecast-table{
        font-size: 26px;
    }
    .hourly-forecast-table thead th{
        padding: 10px
    }
    .th-time{
        font-size: 26px;
    }
    .table-img{
        width: 90px;
        height: 90px;
    }
    .forecasts-blocks{
        border-right: 1px solid rgb(69, 83, 82);
    }
}
@media (min-width: 100px) and (max-width: 800px) {
    #inp_city{
        width: 200px;
    }
    .hourly-forecast-table{
        font-size: 16px;
    }
    .hourly-forecast-table thead th{
        padding: 0
    }
    .th-time{
        font-size: 20px;
    }
    .table-img{
        width: 80px;
        height: 80px;
    }
    .forecasts-blocks{
        border-bottom: 1px solid rgb(69, 83, 82);
    }
}
.header{
    width: 100%;
    background-color: rgb(230, 230, 230);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}
.header h2{
    color: rgb(0, 141, 122);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.header-input-container{
    display: flex;
    align-items: center;
}
#inp_city{
   border: 1px solid rgb(188, 188, 188);
   padding: 5px 10px;
   outline-color: rgba(163, 161, 161, 0);
   border-radius: 5px;
   margin-right: 5px;
   padding-right: 35px;
}
#inp_city:focus {
    box-shadow: 0 0 0 0.5pt rgb(201, 201, 201);
}
.btn-find{
    height: 30px;
    width: 30px;
    background-size: contain;
    background-color: rgb(255, 253, 253);
    border: none;
    border-radius: 5px;
    outline: none;
    position: absolute;
    right: 30px;
}
.btn-find:focus{
    outline: none;   
}
.btn-find img{
    width: 90%;
    height: 90%;
}
.btn-find img:hover{
    width: 100%;
    height: 100%;
}

/*header2*/
.header2{
    width: 100%;
    height: 50px;
    background-color: rgb(42, 51, 50);
}
.btn-today{
    height: 100%;
    width: 150px;
    font-size: 18px;
    background-color: rgb(42, 51, 50);
    color: white;
    border: none;
}
.btn-today:focus, .btn-5day:focus{
    outline: none;
    border-bottom: 2px solid rgb(251, 255, 0);
}
.btn-today:active, .btn-5day:active{
   background-color: rgb(9, 71, 63);
}
.btn-today:hover, .btn-5day:hover{
    box-shadow: 0 0 5pt 0 rgb(4, 90, 79);
}
.btn-5day{
    height: 100%;
    width: 200px;
    font-size: 18px;
    background-color: rgb(42, 51, 50);
    color: white;
    border: none;
}
.active-btn{
    outline: none;
    border-bottom: 2px solid rgb(251, 255, 0);
}

/*data*/
.container-fluid{
    background-color: rgb(187, 187, 187);
}
/*error block*/
.error-container{
    background-color: rgb(255, 255, 255);
    background-size: contain;
}
.error-descr{
    color:rgb(0, 0, 0);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#error_row{
    display: none;
}

/*current weather and date*/
.current-weather-day, .forecast{
    background-color: rgb(42, 51, 50);
    color: white;
}
.cur-weather{
    width: 100%;
    text-align: center;
    font-size: 26px;
    font-weight: lighter;
}
.cur-temp{
    width: 100%;
    text-align: center;
    font-size: 26px;
    font-weight: lighter;
    display: flex;
    align-items: center;
    justify-content: center
}
.cur-date{
    width: 100%;
    text-align: center;
    font-size: 26px;
    font-weight: lighter;
}
#current_temperature{
    font-weight: bolder;
    font-size: 50px;
}
.yellow-names{
    color: rgb(251, 255, 0);
    font-size: 32px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/*hourly forecast*/
.hourly{
    color: rgb(251, 255, 0);
    font-size: 26px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: lighter;
}
.hourly-forecast-table{
    width: 100%;
    font-weight: lighter;
    border-collapse: collapse;
    vertical-align: middle !important;
    text-align: center;
    empty-cells: show;
}
.th-time{
    font-weight: lighter;
}
.first-td{
    color: rgb(221, 221, 221);
    font-weight: lighter;
    font-size: 20px !important;
}
.hourly-forecast-table tbody tr{
    font-size: 20px;
    height: 50px;
}
.tr-with-border{
    border-bottom: 1px solid rgb(69, 83, 82);
}

/*5 days forecast*/
.forecasts-blocks{
    background-color: rgb(42, 51, 50);
    color: white;
    width: 100%;
    transition: 1s;
    vertical-align: middle !important;
    text-align: center;
}
.forecasts-blocks:last-child{
    border: none
}
.forecasts-blocks:hover{
    background-color: rgb(36, 43, 42);
    box-shadow: 0 0 5pt 0pt rgb(255, 238, 0);
    z-index: 10;
}
.active-forecast-block{
    box-shadow: 0 0 5pt 0pt rgb(255, 238, 0);
    z-index: 10;
}
